<div class="container">
  {{!-- {{#each data}} --}}
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
  {{!-- {{/each}} --}}
</div>
